$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}

.list {
    list-style: none;
}

.details-thing1, .details-thing2 {
    font-family: Futura;
    margin-top: 20px;
    margin-bottom: 20px;
}

.details-thing1 {
    font-size: 1.5rem;
}

#search-bar {
  margin-left: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-tag {
    font-size: 2rem;
    margin-right: 20px;
    font-family: Futura;
}

#video-detail {
  width: 100%;
}

.other-video {
    width: 25vw;
}

li {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Futura;
}

#video-section {
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
  }

  li:hover {
    background: darken( $backgroundcolor, 10% );
  }
}